[[redirects]]
  from = "/api/waitlist"
  to = "https://wfyqbfeontndczdhegnx.supabase.co/functions/v1/waitlist-processor"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200